
@{
    ViewData["Title"] = "ForecastByCoord";
}

<h1>New Forecast Coordinates</h1>

<p>To find your latitude/longitude coordinates, please use <a href="https://www.latlong.net/">latlong.net</a></p>
<form action="Forecast">
    <label for="lat">Latitude</label>
    <input name="lat" type="number" step="0.0000001" />
    <label for="lon">Longitude</label>
    <input name="lon" type="number" step="0.0000001" />
    <input type ="submit" />
</form>

